altair==5.5.0
fpdf==1.7.2
kaleido==1.0.0
matplotlib
numpy
openpyxl
pandas
pillow
plotly
pyarrow
reportlab
scipy
scikit-learn
seaborn
statsmodels
streamlit==1.49.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.4.0
xlsxwriter
flask
flask-session
pmdarima
statsmodels
textblob
wordcloud
duckdb
